:root{
    --color1:#211E1E; 
    --color2:rgb(253, 119, 57);
    --color3:white;
    --color4:#424141;
    --color5:rgb(255, 147, 97);
    --color6:#222;
}

.room-container
{
    position: relative;
    background-color: var(--color1);
    width: 100%;
    min-height: 100vh;
    padding-bottom: 2rem;
    overflow-x: hidden;
}
.room-container header
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

header .profile
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 1.5rem 1rem;
    align-items: center;
}

header .profile .imgbx-profile
{
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;  
    object-fit: cover;   
}
header .profile .imgbx-profile button{
    position: absolute;
    top: 50%;
    left: 70%;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 50%;
    transform: translateY(-50%);
    color: var(--color1);
    background-color: var(--color2);
    font-size: 1.2rem;
}
header .profile img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
header .profile .time
{
    font-size: 3rem;
    background-color: var(--color3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-weight: bold;
    color: var(--color1);
}

header h2{
    font-size: 10vw;
    padding-left: 1rem;
    color: var(--color4);
    display: flex;
    transform-origin: left;
}

header h2 span
{
    align-self: flex-start;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color2);
}

.chats-rooms
{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    margin: 2rem auto;
}
.chats-rooms .room{
    position: relative;
    width: 100%;
    height: 50vh;
    border-radius: 1.25rem;
    overflow: hidden;
}
.chats-rooms .room:hover>.room-info{
    transform: translateY(0);
}
.chats-rooms .room:hover>img{
    filter: brightness(1);
}
.chats-rooms .room img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: brightness(0.4);
    transition: 0.50s;
}
.chats-rooms .room h2
{
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--color3);
    margin: 1rem;
    font-size: 3rem;
}
.chats-rooms .room .room-info
{
    position: absolute;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0 ;
    background-color: hsla(0, 1%, 14%, 0.527);
    backdrop-filter: blur(80px);
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1rem 1rem 1rem;
    transform: translateY(150%);
    transition: 0.50s;
    filter: drop-shadow(0px -2px 5px rgba(0,0,0,0.4));
}
.chats-rooms .room .room-info button
{
    position: absolute;
    top: -2rem;
    right: 0;
    left: 0;
    margin: auto;
    width: 4rem;
    height: 4rem;
    background-color: var(--color1);
    border: none;
    outline: none;
    border-radius: 50%;
    font-size:2rem;
    color: var(--color2);
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.4));
}
.chats-rooms .room .room-info h3
{
    color: var(--color3);
    font-size: 1.3rem;
    text-align: center;
}

.chats-rooms .room .room-info p{
    overflow: hidden;
    overflow-y: visible;
    color: var(--color3);
    text-align: center;
}

.create-group
{
    position: fixed;
    width: 3rem;
    height: 3rem;
    background-color: var(--color2);
    border-radius: 50%;
    bottom: 0;
    left: 0;
    margin: 1.5rem;
    z-index: 5;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color1);
}
.create-group:hover>p{
    transform: scale(1);
}
.create-group p{
    position: absolute;
    top: 0;
    left: 110%;
    transform: translateY(-50%);
    background-color: var(--color2);
    color: var(--color6);
    min-width: 10rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    transform: scale(0);
    transition: 0.12s;
}
.create-group-screen
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(39, 39, 39, 0.774);
    z-index:90;
    overflow: hidden;
    backdrop-filter: blur(5px);
}
.create-group-screen form
{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);
    width: 15rem;
    height: 30rem;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.4));
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1.25rem 1.25rem 0 0;
}
.create-group-screen form input[type="file"]
{
    display: none;
}
.create-group-screen form input[type="text"]
{
    width: 100%;
    border: none;
    outline: none;   
    height: 4rem;
    border-bottom: 4px solid var(--color2);
    background-color: transparent;
    text-align: center;
    color: var(--color2);
    font-size: 2rem;
}
.create-group-screen form label[for="nameroom"]
{
    font-size: 1.2rem;
    color: var(--color3);
}
.create-group-screen form label[for="photo-room"]
{
    width:4rem;
    height: 4rem;
    background-color:var(--color4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--color1);
    font-weight: 700;
}
.create-group-screen form textarea
{
    width: 100%;
    height: 6rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--color4);
    color: var(--color3);
    border-radius: 0.625rem;
    resize: none;

}
.create-group-screen form textarea::placeholder
{
    color: var(--color1);
}
.create-group-screen form button
{
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--color2);
    color: var(--color1);
    font-weight: 700;
    border-radius: 2.5rem;
}

.create-group-screen .close-form
{
    position: absolute;
    right: 0;
    top: 0;
    color: var(--color2);
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    border: none;
    outline: none;
    background-color: var(--color1);
    margin: 1rem;
}

@media only screen and (min-width:700px)
{
    .chats-rooms
    {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        grid-auto-flow: row dense;
        grid-auto-rows: 50vh;
        gap: 0.3rem;
    }
    .chats-rooms .room
    {
        border-radius: 0;
    }
    .chats-rooms .room:nth-child(2n)
    {
        grid-row:span 2;
        grid-column: span 1;
        height: 100%;
    }
    .chats-rooms .room:nth-child(3n)
    {
        grid-column: span 1;
        grid-row:span 1;
    }
    .chats-rooms .room .room-info
    {
        border-radius: 0;
    }
}


@media only screen and (min-width:1200px)
{
    .chats-rooms
    {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        grid-auto-flow: row dense;
        grid-auto-rows: 50vh;
        gap: 0.3rem;
    }
    .chats-rooms .room
    {
        border-radius: 0;
    }
    .chats-rooms .room:nth-child(2n)
    {
        grid-row:span 2;
        grid-column: span 1;
        height: 100%;
    }
    .chats-rooms .room:nth-child(3n)
    {
        grid-column: span 1;
        grid-row:span 1;
    }
    .chats-rooms .room:nth-child(6n)
    {
        grid-column: span 2;
        grid-row:span 1;
    }
    .chats-rooms .room .room-info
    {
        border-radius: 0;
    }
}


